footer {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    border-radius: 7px;
    box-shadow: rgba(35, 33, 33, 0.1) 0px -5px;
    border: solid antiquewhite 1px;
    color: black;
    padding: 15px;
}

footer a, footer p a{
    text-decoration: none;
    font-weight: bold;
}

footer p, footer a{
    margin: auto;
    text-align: center;
    font-size: 12px;
}

/* Language Dropdown */
#lang-switch{
    width: fit-content;
    margin: auto 10px;
}

/* Partners */
.partners{
    display: flex;
    flex-direction: column;
    margin: auto 10px;
}

.partners h2{
    margin: auto;
}

.partners div{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5px;
    width: fit-content;
}

.partners div a{
    margin: auto 10px;
    width: 35px;
}

    .partners div a img {
        transition: all 0.8s ease;
        transform: scale(1);
    }

        .partners div a img:hover {
            transform: scale(1.1) perspective(1px);
        }