@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    color: black;
    text-align: justify;
    text-align-last: center;
}

html {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #fdf4e8;
}

body{
    margin: auto;
}

h2{
    padding: 15px 0px 5px 20px;
}

h5{
    font-style: italic;
    font-weight: bold;
    padding: 5px 0px 10px 20px;
    font-size: 14px;
}

main{
    display: flex;
    flex-direction: column;
    margin: 25px auto;
}

/* ASIDE */

aside{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 80%;
    border-bottom: dashed 1px black;
}

.aside_section{
    display: flex;
    flex-direction: column;
}

    .aside_section p {
        padding: 0px 20px 10px 20px;
        text-align: justify;
        font-size: 13px;
        line-height: 25px;
    }

    .photo{
        width: 50%;
        margin: 10px auto;
    }

    .mini_headers{
        width: 90%;
        margin: 10px auto;
    }

/* CENTRE */

.center {
    margin: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.center article{
    margin: auto;
    margin-bottom: 25px;
}

.main_box {
    display: flex;
    flex-direction: column;
    border-bottom: dashed 1px black;
    padding-bottom: 20px;
}

    .disclaimer{
        width: 80%;
        margin: auto;
        font-size: 14px;
        font-weight: bold;
        text-align: justify;
        font-style: italic;
    }
    
    .disclaimer .center_text{
        font-weight: normal;
        text-align: right;
    }

    .contact_infos{
        padding: 25px;
    }

    .contact_infos h2 {
        padding-bottom: 25px;
    }

/* Discord Logo */
.discord_logo {
    width: 30px;
}

    .discord a img{
        transition: all 0.8s ease;
        transform: scale(1);
    }

        .discord a img:hover {
            transform: scale(1.1) perspective(1px);
        }

@media only screen and (min-width: 950px)
{
    main{
        flex-direction: row;
    }

    aside{
        display: flex;
        flex-direction: column;
        width: 30%;
        padding-bottom: 0px;
        margin-bottom: auto;
        border-bottom: none;
    }
}

@media only screen and (min-width: 1200px)
{
    body{
        width: 80%;
    }
}