@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}

html {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #d4f4d3;
    font-family: 'Architects Daughter', cursive;
    color: black;
    text-align: justify;
    text-align-last: center;
}